
body {
  box-sizing:	border-box;
  margin: 0;
  font-family: 'roboto-regular', 'Helvetica', "Sans-serif";
  height:100%;

}

#company-logo{
	position:absolute;
	height: 80px;
	width: 75px;
	padding: 20px;
	background:white;
}

#company-name{ font-family: 'Verdana','Times New Roman', serif;
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
	background-color: #489FB5;
	padding: 30px 20px 30px 140px;
	height: 60px;
	color:white;
}
#copyright{
	text-align:center;
	margin-top:20px;
}

@media(max-width:600px){
	#company-name{
		font-size:40px;
		padding: 35px 20px 25px 140px;
	}
}


.topnav{
	overflow:hidden;
	background: #303030;
	
}.topnav a{
	float: left;
	color: white;
	text-align: center;
	padding: 15px 40px;
	font-size: 16px;
	text-decoration: none;
	position:relative;	
}.topnav a:hover, .dropdown:hover .dropbtn {
	background-color:#505050;
	color: white
}.topnav a.cartlogo{
	padding:0px 0px;
	height:48px;
}.topnav img{
	max-height:48px;
}.active{
	background-color:#82C0CC !important;
	font-weight:bold;
	color:white !important;
}
 .icon {
  position:absolute; 
  top:14px;
  left:10px;
  height: 20px;
  width: 20px;
  filter:invert(100%);
}	


.center-box {
  box-sizing:border-box;
  padding-bottom: 20px;
  overflow:hidden;
  padding:30px;
  min-height: 70%;
}

.row {
  width: 100%;
}
.list {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 100%;
  height: 100%;
}


.edit-delete {
 position:relative;
  background-color: #51c2d5;
  width: 100%;
  height:45px;
  padding:10px 0 10px 0px;
}
.header-button {
	position:relative;
  background-color: #51c2d5;
  border: 2px dotted white;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
  padding:10px 20px 10px 20px;
  float:right;
  margin:0px 20px 0px 0px;
}
.header-button:hover{
	filter:brightness(110%)
}

.headers {
  border-collapse: collapse;
  background-color: #aaaaaa;
  font-size: 15px;
  text-align: center;
  border-style: solid 5px;
  border-color:gray;
  height: 50px;
  font-weight:bold;
}

.cell {
  border-collapse: collapse;
  border-color: #cdd0cb;
  border-spacing: 30px 60px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  color: #5b5b5b;
}
.cell a{
	color:grey;
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	padding:0 5px 0 5px;
	border-radius:5px;
}
.cell a:hover{
	color:white;
	background-color: #51c2d5
}

@media(max-width: 600px) {
	.header-button{
		font-size:12px;
		padding:10px;
	}
	.headers{
		font-size:12px;
	}
	.cell{
		font-size:10px;
	}
}
.check {
  display: flex;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.odd {
  border-color: grey;
  background-color: white;
}

.even {
  border-color: grey;
  background-color: #E5E5E5;
}




input[type=text], input[type=password] {

    width: 98%;
    padding: 15px;
      margin: 5px 0 22px 0;
      margin-right:900px;
      display: inline-block;
      border: none; 
          background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus 
{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 2px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #303030;
  color: white;
  padding: 14px 20px;
  margin:  0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.savebtn
 {
     
    width: 100%;
}

.container 
{
  padding: 16px;
}


.clearfix::after 
{
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) 
{
  .savebtn {
     width: 100%;
  }

}